<configuration debug="false" scan="false" scanPeriod="300 seconds">

    <!-- 日志文件名 -->
    <springProperty scope="context" name="appname" source="appname"/>
    <!-- 日志文件目录 -->
    <property name="basedir" value="/usr/log/applog"/>
    <!-- 日志脱敏KEY -->
    <property name="encryptKeys"
              value="cvv2 validate cardno cardNumber bankacct acct_bank name_cust"/>
    <!-- 日志脱敏规则 -->
    <property name="partialEncryptKeys"
              value="cvv2|00 validate|00 cardno|64 cardNumber|64 bankacct|64 acct_bank|64 name_cust|01"/>

	<!-- 控制台Appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.llpay.framework.autoconfigure.logging.logback.SecurePatternLayoutEncoder">
            <encrypt>true</encrypt>
            <encryptKeys>${encryptKeys}</encryptKeys>
            <partialEncryptKeys>${partialEncryptKeys}</partialEncryptKeys>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%tid] [%F:%L] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 同步日志Appender -->
    <appender name="CommonLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${basedir}/${appname}.log</file>
        <append>true</append>
        <encoder class="com.llpay.framework.autoconfigure.logging.logback.SecurePatternLayoutEncoder">
            <encrypt>true</encrypt>
            <encryptKeys>${encryptKeys}</encryptKeys>
            <partialEncryptKeys>${partialEncryptKeys}</partialEncryptKeys>
            <!-- p:日志级别，tid:调用链跟踪号，F:类名，L:行号，m:消息体，n:换行 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%tid] [%F:%L] %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${basedir}/${appname}.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>150MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- 异步日志Appender，logback-1.0.11以上支持 -->
    <appender name="AsyncLogAppender" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 0为不丢失日志,默认20如果队列的80%已满,则会丢弃TRACE、DEBUG、INFO级别的日志 -->
        <discardingThreshold>10</discardingThreshold>
       <!-- 异步队列长度，假设IO处理30/s，qps:日志条数=1:10，压测值500，
            queueSize的设置公式：10*500/30=167，值取2N次幂 -->
        <queueSize>1024</queueSize>
		<!-- 异步日志打印栈堆信息 -->
        <includeCallerData>true</includeCallerData>
        <!-- 引用 CommonLogAppender -->
        <appender-ref ref="CommonLogAppender"/>
    </appender>

    <logger name="com.alibaba.dubbo" level="WARN" />
    <logger name="org.springframework" level="WARN"/>
	<logger name="com.ctrip" level="WARN"/>

	<springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
	<springProfile name="!dev">
		<root level="INFO">
			<appender-ref ref="CommonLogAppender"/>
		</root>
	</springProfile>

</configuration>